@import url(https://fonts.googleapis.com/css?family=Sofia);


.container {
  background-color: #fffffa;
	width: auto;
	padding: 0;
}

.jumbotron {
  padding: 0px 10px 0 10px;
  margin: 0;
  background-color: #fffffa;
}


.header {
  padding: 5px 0 1px 0;
  margin: 0px;
  /*font-size: 30px;*/
  text-align: center;
  font-size: 2.5em;
  color: #fffffa;
}
/* Quote */
.header_1 { font-family: 'Sofia', cursive; font-size: 2em; background-color: #ce4c6e; }
/* About */
.header_2 { font-family: 'caviar_dreamsregular', cursive; background-color: #3c80a3; }
/* Portfolio */
.header_3 { font-family: 'caviar_dreamsregular', cursive; background-color: #784970; }
/* Contact */
.header_4 { font-family: 'caviar_dreamsregular', cursive; background-color: #51a689; }

/* Sloping Header Colours */
.slanted { width: 100%; height: 5%; }
.shape1 { fill:#ce4c6e; }
.shape2 { fill:#3c80a3; }
.shape3 { fill:#784970; }
.shape4 { fill:#51a689; }

.row {
  margin: 0  5% 1% 5%;
}
.row p {
  font-family: 'geosanslightregular';
  font-size: 1.5em; 
  font-weight: 550; 
  line-height: normal;
  text-decoration: none;
}
.row h3 {
  font-family: 'geosanslightregular';
  font-size: 2em; 
  font-weight: 550; 
  line-height: normal;
  text-decoration: none;
}

/* --- LOGO LETTERS --- */
.letters {
  	margin: 0 auto;
    font-size: 900%;
    font-family: 'matilderegular';

    position:relative;
    margin: 0 auto;
    width: 80%;
    padding: 0 10%;
}
.letters > span.c {
    float:left;
    -webkit-transform: rotate(-13deg);
}
.letters > span.one { margin-left: 1%; }
.letters > span.one, .letters > span.two {
    float:left;
    -webkit-transform: rotate(0deg);
}
.letters > span.t {
    float:left;
    -webkit-transform: rotate(13deg);
    margin-left: 1%;
}
.letters > span.two { margin-left: -1%; }
.letters > span.c, .letters > span.one {
  color: #6a246a;
}
.letters > span.t, .letters > span.two {
  color: #3c80a3;
}


.section-1 { color: #ce4c6e; }
.section-1 i { padding-top: 20px; }
.section-2 { color: #3c80a3; }
.section-3 { color: #784970; }
.section-4 { color: #51a689; }

footer {
  padding-top: 5px;
  text-align: center;
  font-family: 'geosanslightregular';  
  font-size: 1.25em;
}


.thumb {
    margin-bottom: 15px;
}